<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/detail_chats.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/detail_chat.js"></script>
    <title>Мессенджер</title>
</head>
<body>
    <div id="all-messages">

    </div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Введите сообщение">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>