<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <title></title>

</head>

<body>
    <div id="info-user">
        <button type="button" id="edit-button">
            <a href="/profile/edit/" target="_blank">
                Редактировать
            </a>
        </button>
    </div>
    <script src="/static/js/info_user.js"></script>
    <script src="/static/js/logout_scripts.js"></script>
</body>

</html>