<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
    <h1>Авторизация</h1>
    <form method="post" enctype="multipart/form" id="login-form">
        <p>
            <label for="id_username">Логин</label>
            <input type="text" name="username" id="id_username" maxlength="100" autofocus="" required="">
        </p>
        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" maxlength="50" required="" id="id_password">
        </p>
        <button type="submit">
            Войти
        </button>
    </form>
    <p id="if-not-register">
        Ещё не зарегистрированы? <a href="/profile/register/">Зарегистрироваться</a>
    </p>
    <script src="/static/js/login.js"></script>
</body>

</html>