<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1 id="register-title">
        Регистрация
    </h1>
    <form method="post" enctype="multipart/form-data" id="register-form">
        <p>
            <label for="id_username">Логин:</label>
            <input type="text" name="username" id="id_username" maxlength="100" autofocus="" required="">
        </p>
        <span id="warning-valid-username"></span>
        <p>
            <label for="id_password1">Пароль:</label>
            <input type="password" name="password1" maxlength="50" required="" id="id_password1">
        </p>
        <span id="warning-valid-password"></span>
        <button type="submit" id="register-button" disabled>
            Зарегистрироваться
        </button>
    </form>
    <p id="if-register">
        Уже зарегистрированы? <a href="/profile/login/">Войти</a>
    </p>

    <script src="/static/js/register.js"></script>
</body>
</html>